<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;<a href="http://jeremiesamson.com" target="_blank">Jérémie Samson</a></p>
    </div>
    <!-- /.container -->
</footer>